extends ../shared/template

block content
  .content
    form(method='post', action='/register')
      fieldset
        legend=title
        label Email
        input(type='email', name='email', autofocus=true)
        label Password
        input(type='password', name='password')
        label User name
        input(type='text', name='userName', autofocus=true)
        //- label Role
        //- select(name='role')
        //-   option Venue
        //-   option Applicant
        button.radius.small Register
  .small-8.columns
