doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title=bandPortal
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    link(rel='stylesheet', href='/css/mint-choc/jquery-ui.css')
    link(rel='stylesheet', href='/css/fullcalendar.css')
    link(rel='stylesheet', href='/css/fullcalendar.print.css')
    script(src='/js/vendor/modernizr.js')
    nav.top-bar
      ul.name-area
        li.name
          h1 --type fun stuff here -->
        li.toggle-topbar.menu-icon
          a(href="#") Band Portal Forever!
      section.top-bar-section
        ul.left
          li.divider
          li.name
            input#search(type='search', placeholder='not for searching...', result='0')
          li.name
          li.divider
          li.name
          li.divider
          li.name
          li.divider
          li.name
            h1 bandPortal rocking faces since 2014
        ul.right
          li: a(href="/") Home
          li.divider
          if !user
            li: a(href='/register') Register
            li.divider
            li.name
            li: a(href='/login') Login
            li.name
          if user
            li.name
            li.divider
            li.has-dropdown.not-click
              a(href='/') &#9881 MENU
              ul.dropdown
                li: a(href='/applications/new') Applicaton
                li.divider
                li: a(href='/calendar') Calendar
                li.divider
                li: a(href='/users/' + user._id.toString()) Edit Profile
                li.has-form
                  form(action='/logout',method='post')
                    button.alert.tiny.radius.expand Logout

  //- form(action='/applications', method='post', enctype='multipart/form-data')
  //-   fieldset
  //-     legend Create application
  //-     input(type='hidden', value='application._id')
  //-     .row
  //-       .small-5.columns
  //-         label Band/Artist  name
  //-         input(type='text', name='bandName')
  //-         label Contact info
  //-         textarea(name='contactInfo',rows=2, placeholder = 'phone/email')
  //-         label Bio/press
  //-         textarea(name='bio', rows=2, placeholder= 'I was born a poor hacker Chyld...')
  //-         label links - separate by commas
  //-         textarea(name='links', rows=2, placeholder= 'www.FoRealDoe.io')
  //-         label Photo
  //-         input(type='file', name='cover')
  //-
  //-       .small-5.columns
  //-         label You on youtube...
  //-         textarea(name='youTubePath', placeholder='the you in youtube')
  //-         label Soundcloud
  //-         textarea(name='soundCloudPath', placeholder='sound cloud')
  //-         input(type='hidden', name entryDate)
  //-         button.tiny.radius.expand Submit

  .row
    .small-8.columns

      //- #toolbar.ui-widget-header myPod
      //-   button#beginning got to beginning
      //-   button#rewind rewind
      //-   button#play play
      //-   button#stop stop
      //-   button#forward forward
      //-   button#end end
      //-   label(for='shuffle') Shuffle
      //-   input#shuffle(type='checkbox')
      //-   #mySliderDiv
    .small-4.columns
      //- ul
      //-   li#startRecording: a(href='#') Start recording
      //-   li#stopRecording: a(href='#') Stop recording
      //-   li#playback: a(href='#') Playbeck
      //-   li#upload: a(href='#') Upload
      //-   p.status
  .row
    .small-12.columns
      block content

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/jquery-ui.js')
    script(src='/js/vendor/fullcalendar.js')
    script(src='/js/vendor/gcal.js')
    script(src='//connect.soundcloud.com/sdk.js')
    script(src='/js/vendor/foundation.min.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')
