extends ../shared/template

block content
  h1= name
  <script src="//www.gmodules.com/ig/ifr?url=http://eviloreo.com/google/myeventcalendarver2.xml&amp;synd=open&amp;w=420&amp;h=300&amp;name=bandPortal+Calendar&amp;border=%23ffffff%7C1px%2C1px+solid+black%7C1px%2C1px+solid+black%7C0px%2C1px+black&amp;output=js"></script>
  <iframe src="https://www.google.com/calendar/embed?showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vdjrejgu4fo8smcnovn3kqcu04%40group.calendar.google.com&amp;color=%232953A3&amp;ctz=America%2FChicago" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe> 
