extends ../shared/template

block content
  h1= bandPortal
  .row
    .small-3.columns
      form
        input(type='file',)
    .small-6.columns
      #calendar
    .small-6.columns
  .row
    .small-2.columns
      a#start(href='#') Start
  .row
    .small-2.columns
      a#stop(href='#') Stop
  .row
    .small-8.columns
      //- ul
      //-   li#startRecording: a(href='#') Start Recording
      //-   li#stopRecording: a(href='#') Stop recording
      //-   li#playback: a(href='#') Playback
      //-   li#upload: a(href='#') Upload
      //-   li: p.status

  #player
  #youTube
  <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/132753131&color=ff5500"></iframe>
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/132753131&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>

  ul#results

  form
    fieldset
